@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');

$main_font: 'Montserrat', sans-serif;

$main_color: #B529CE;
$gamefield_bg: rgba(255,235,137,0.6);